
*{
    margin: 0;
    padding: 0;
}
.container {
    padding: 40px;
    background-color: #f9f7f1;
    display: flex;
    flex-direction: column;
    gap: 2rem ;
    height: fit-content;
}
h1 {
    font-size: 80px;
    font: weight 900px;;
    color: #2f2f2f;
    
}

h2{
    font-weight: lighter;
    color: #2f2f2f;
}
p{
   font-size: 18px;
    font-family:'Droid Serif', serif;
    color: #2f2f2f;
}

.header {
     display: flex;
     justify-content: center;
    padding: 5px;
    height: 130px;
    transform: translate(50px);
    
}

.izquierda{
    border-style: double;
    padding: 15px;
    width: 200px;  
    height: 100px;
    transform: translateX(-250px);
   
}
.titulo {
    width:max-content ;
    padding: 10px; 
    transform: translateX(-150px);
}

.izquierda p{
    text-align: center;
    font-size: 17px;
  
    
}
address{
    font-style: italic;
    font-size: 14px;
}

.centertextnav{
    text-align: center;
    padding: 15px;
    font-weight: bold;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}



.bloque{
    border-right: 2px solid #2f2f2f;
    width: 500px; 
    padding: 15px;
}

.bloque > div {
    padding-top: 20px;
}

section {
    display: flex; 
    
}

section ~ div{
    padding-top: 20px;
}
.columnheadline{
    
    font-family:"Playfair Display', serif";
    padding: 10px;
    padding-bottom: 25px;
    text-align: center;
}

.subtitulo{
    font-family:"Playfair Display', serif";
    text-align: center;
    font-size: 18px;
    font-weight: lighter;
    padding: 15px;
    border-top: 2px solid #000; 
    border-bottom: 2px solid #000;
    color: #2f2f2f;
}

img{
    filter: grayscale(100%); 
    text-align: center;
}

figcaption{
   padding:15px;
}

.textoArticle {
    padding-top: 30px;
padding-bottom: 20px;
padding: 15px;
}

.tituloPrimeracolum{
    font-size:30px;

}
.tituloSegundacolum{
    font-size:35px;
    letter-spacing: -0.7px;

}
.tituloTerceracolum{
    font-size: 24px;
    
}
.titulocuartacolum{
    font-size: 33px;
    font-family: "Playfair Display", serif;
    font-style:oblique;
}
.tituloquintacolum{
    font-size: 24px;
}

.subtituloPrimeracolum{
    font-size: 12px;
    font-weight: bold;
}
.subtituloSegundacolum{
    font-size: 22px;
    font-weight: lighter;
}

.subtituloTerceracolum{
    font-style: italic;
    font-size: 25px;
    font-family: "Playfair Display", serif;
}
.segundoSubtitulotTerceracolum{
    font-size:35px;
    letter-spacing: -0.7px;
    font-family: "Playfair Display", serif;
  
    
}
.subtituloCuartacolum{
   font-weight: bold;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.subtituloQuintacolum{
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -0.7px;
}

